<!DOCTYPE html>

<html lang="en">
<head>
    <!-- The jQuery library is a prerequisite for all jqSuite products -->
    <script type="text/ecmascript" src="/static/js/jqgrid/js/jquery.min.js"></script> 
    <!-- This is the Javascript file of jqGrid -->   
    <script type="text/ecmascript" src="/static/js/jqgrid/js/trirand/jquery.jqGrid.min.js"></script>
    <!-- This is the localization file of the grid controlling messages, labels, etc.
    <!-- We support more than 40 localizations -->
    <script type="text/ecmascript" src="/static/js/jqgrid/js/trirand/i18n/grid.locale-en.js"></script>
    <!-- The "sortable" behaviour is needed by jqGrid for column resizing --> 
    <script type="text/ecmascript" src="/static/js/jqgrid/js/jquery-ui-sortable.min.js"></script>
    <!-- A link to a jQuery UI ThemeRoller theme, more than 22 built-in and many more custom -->
    <link rel="stylesheet" type="text/css" media="screen" href="/static/js/jqgrid/css/jquery-ui.css" />
    <!-- The link to the CSS that the grid needs -->
    <link rel="stylesheet" type="text/css" media="screen" href="/static/js/jqgrid/css/trirand/ui.jqgrid.css" />
    <meta charset="utf-8" />
    <title>jqGrid Loading Data - Custom Grid Caption</title>
</head>
<body>

    <span style="font-size: 12px; font-family: Tahoma">Toggle the table with caption</span>
    <br /><br />

    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
    <span style="font-size: 12px; font-family: Tahoma">Toggle the table with caption</span>
    <br /><br />

    <script type="text/javascript"> 
    
        $(document).ready(function () {
            $("#jqGrid").jqGrid({
                url: '/data1',
                datatype: "json",
                headertitles : true,
                colModel: [
					{ label: 'Category Name', name: 'CategoryName', width: 75, tooltip :"Mycustom tooltip" },
					{ label: 'Product Name', name: 'ProductName', width: 90 },
					{ label: 'Country', name: 'Country', width: 100 },
					{ label: 'Price', name: 'Price', width: 80, sorttype: 'integer' },
					{ label: 'Quantity', name: 'Quantity', width: 80, sorttype: 'number' }                   
                ],
				loadonce: true,
                width: 780,
                height: 200,
                rowNum: 15,
				viewrecords: true,
                pager: "#jqGridPager",
                caption: "Products / Category Primary Grid View" // set caption to any string you wish and it will appear on top of the grid
            });
        });

    </script>

    
</body>
</html>